.popup__reset {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -145px;
  left: 401px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/Vector_close.svg);
  background-size: cover;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: .3s;
}

.popup__reset:hover {
  opacity: .6;
}

@media screen and (max-width: 574px) {
  .popup__reset {
    left: 363px;
  }
}

@media screen and (max-width: 468px) {
  .popup__reset {
    left: 314px;
    top: -150px;
  }
}

@media screen and (max-width: 420px) {
  .popup__reset {
    left: 280px;
    top: -162px;
  }
}

@media screen and (max-width: 372px) {
  .popup__reset {
    width: 20px;
    height: 20px;
    left: 239px;
    top: -150px;
  }
}
