.popup__reset-button {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -39px;
  left: 438px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/Vector_close.svg);
  background-size: cover;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: .3s;
}

.popup__reset-button:hover {
  opacity: .6;
}

@media screen and (max-width: 580px) {
  .popup__reset-button {
    left: 398px;
    top: -47px;
  }
}

@media screen and (max-width: 468px) {
  .popup__reset-button {
    width: 20px;
    height: 20px;
    left: 261px;
    top: -36px;
  }
}
