.popup__text {
  border: none;
  border-bottom: 1px solid #000;
  font-size: 14px;
  line-height: 17px;
  height: 34px;
  padding: 0;
}

.popup__text:first-child {
  margin-bottom: 21px;
}

@media screen and (max-width: 420px) {
  .popup__text:first-child {
    margin-bottom: 23px;
  }
}
